@model List<User>

<partial name="Navbar" />

<div class="grid">
    <partial name="SidebarPartial" />
    <div class="right">
        <div class="form-card">
            <h2 id="title" class="p-3">
                <p>
                    Admin
                </p>
			</h2>

            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Department</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Department?.DepartmentName</td>
                            <td>
                                <a href="@Url.Action("Details", new { id = user.Id })">
                                    <button type="button" class="m-1 btn btn-primary">Details</button>
                                </a>
                                <a href="@Url.Action("Edit", new { id = user.Id })">
                                    <button type="button" class="m-1 btn btn-warning">Edit</button>
                                </a>
                                <button type="button" class="m-1 btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
                            </td>
                        </tr>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete record?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Data cannot be retrieved again.
                  </div>
                  <div class="modal-footer">
                    <a href="@Url.Action("Delete", new { id = user.Id })">
                        <button type="button" class="m-1 btn btn-danger">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  </div>
                </div>
              </div>
            </div>
                    }
                </tbody>
            </table>
          </div>
      </div>
</div>

<partial name="FooterPartial" />