@model Persol_HMS.Models.ViewModels.LabsViewModel

<partial name="Navbar" />

@if (TempData.ContainsKey("L_ConfirmationMessage"))
{
    <div class="alert alert-success">
        @TempData["L_ConfirmationMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}
@if (TempData.ContainsKey("L_WarningMessage"))
{
    <div class="alert alert-danger">
        @TempData["L_WarningMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}

<div class="grid">
    <partial name="SidebarPartial" />
    <div class="right" style="display:grid;grid-template-columns:repeat(1,1fr);gap:20px;">
        <form class="form-card" style="margin-bottom: 0;" asp-controller="Staff" asp-action="PatientLab" autocomplete="off">
            <h2 id="title" style="padding: 4px 0">
					<p>
						Lab Report for @Model.patient.FirstName
					</p>
				</h2>
            <hr style="margin:0">
            <div class="grid_3">
            @for (int i = 0; i < Model.Labs.Count; i++)
            {
                <div class="pt-2 text-center lab-fields">
                    <div class="row1 mb-2">
                        <div class="col">
                            <div>
                                <h4 id="title">
                                    <p id="@Model.Labs[i].LabName">
                                        @Model.Labs[i].LabName
                                    </p>
                                </h4>
                            </div>
                        </div>
                        <div class="col px-3">
                            <div style="text-align:left">
								<label class="px-1" style="font-size:1.1rem">Result</label>
                                <textarea asp-for="Labs[i].Result" style="height: 100px" class="mb-3 form-control" placeholder="Lab Result"></textarea>
                            </div>
                        </div>
                        <div class="col mb-3 mt-2 px-3" style="text-align:left">
                            <div>
								<label class="px-1" style="font-size:1.1rem">Notes</label>
                                <textarea asp-for="Labs[i].Notes" style="height: 100px" class="form-control" placeholder="Lab Notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <input asp-for="patient.PatientNo" hidden />
                    <input asp-for="Labs[i].LabName" hidden />
                </div>
            }
            </div>
            <div class="modal-footer px-3" style="diplay:flex;justify-content:left">
                <button type="submit" style="border-radius:5px;border:none;width:100px" class="auth-button">Save</button>
            </div>
        </form>
    </div>
</div>

<partial name="FooterPartial" />


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
}