@model PatientListView

<partial name="Navbar" />

@{
    ViewData["Title"] = "Patient List";
}
<div class="grid">
    <partial name="SidebarPartial" />
    <div class="right">
        
        <div class="form-card" style="height:740px">
            <h2 id="title" class="p-3">
				<p>
					Patient List
				</p>
			</h2>
            <form method="get"class="search" action="@Url.Action("PatientListOnly")">
                <div class="input-group mb-3 px-3">
                    <input type="text" name="search" class="form-control" placeholder="Search by Patient_No, Firstname or Lastname" aria-describedby="button-addon2">
                    <button class="search-button" type="submit" id="button-addon2">Search</button>
                </div>
            </form>

            @if (Model.Patients.Count > 0)
            {
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Patient No</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model.Patients)
                        {
                            <tr>
                                <td>@patient.PatientNo</td>
                                <td>@($"{patient.FirstName} {patient.LastName}")</td>
                                <td>@patient.Gender</td>
                                <td>@patient.DateOfBirth.ToString("dddd, dd MMMM yyyy")</td>
                                <td>
		    						<button type="button" class="table-button" data-bs-toggle="modal" data-bs-target="#exampleModal-@patient.PatientNo">
		    							Add to Queue
		    						</button>
                                </td>
                            </tr>
                            <div class="modal fade" id="exampleModal-@patient.PatientNo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add @($"{patient.FirstName} {patient.LastName}") to queue</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form action="@Url.Action("CreateOrGetPatient", new {patientNo = @patient.PatientNo})" method="post" autocomplete="off">
                                            <div class="container text-center">
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success">Yes</button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>

                <nav class="py-3" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("PatientListOnly", new { page = Model.CurrentPage - 1, search = Model.Search })">Previous</a></li>
                        }

                        @for (int i = 1; i <= Model.TotalPatients / Model.PageSize + 1; i++)
                        {
                            <li class="page-item"><a href="@Url.Action("PatientListOnly", new { page = i, search = Model.Search })" class="@(i == Model.CurrentPage ? "active page-link" : "page-link")">@i</a></li>
                        }

                        @if (Model.CurrentPage < Model.TotalPatients / Model.PageSize + 1)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("PatientListOnly", new { page = Model.CurrentPage + 1, search = Model.Search })">Next</a></li>
                        }
                    </ul>
                </nav>
            }
            else
            {
                <p class="p-3 no-patinet">No registered patients.</p>
            }
        </div>
    </div>
</div>

<partial name="FooterPartial" />


<script>
    const toggle = document.getElementById("isNew")
    const newContainer = document.querySelector(".forPatientList")
    const oldContainer = document.querySelector(".forOldPatient")
    const title = document.querySelector("#title")
    oldContainer.style.display = "none"
    toggle.value = "off";
    function display()
    {
        toggle.value = toggle.value == "on" ? "off" : "on"
        if(toggle.value == "on")
        {
            oldContainer.style.display = "block"
            newContainer.style.display = "none"
			toggle.innerText = "Patient List"
			title.innerText = "Add existing patient to queue"
        }else
        {
            oldContainer.style.display = "none"
            newContainer.style.display = "block"
			title.innerText = "Patient List"
			toggle.innerText = "Add to Queue"
        }
    }
</script>